<%- include('common/_header_stapro') %>
  <div class="wrapper">
    <div class="content">
      <a href="./home.html" class="btn"><span><%= text %></span></a>
    </div>
  </div>

<%- include('common/_footer') %>