<%- include('common/_header_stapro') %>
  <div class="wrapper">
    <!-- profileエリア -->
    <div class="profile-container">
      <img src="../public/images/profile_image.JPG" alt="" id="profile-image">
      <div class="profile-info">
        <h1>プロフィール</h1>
        <p class="profile_name"><span>名前：</span>藤井　広記</p>
        <p><span>年齢：</span>30歳</p>
        <p><span>座右の銘：</span>雑草魂</p>
        <p><span>趣味：</span>カメラ</p>
        <p><span>これまで学習したカリキュラム：</span></p>
        <div class="curriculum">
          <table>
            <tbody class="table-body">
              <tr>
                <th class="headline">カリキュラム</th>
                <td>Scratch</td>
                <td>Scratchテスト</td>
                <td>マインクラフト</td>
                <td>マインクラフト検定</td>
                <td>HTML&CSS</td>
                <td>HTML&CSS検定</td>
                <td>enchant.js</td>
              </tr>
              <tr>
                <th class="headline">進捗</th>
                <td>完了</td>
                <td>完了</td>
                <td>完了</td>
                <td>完了</td>
                <td>完了</td>
                <td>完了</td>
                <td>月次目標</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- profileエリアここまで -->
    <!-- 写真紹介エリア -->
    <div class="photo-introduction">
      <div><h2>写真紹介(今後追加予定)</h2></div>
      <div class="gallery">
        <div class="photo-01">写真1</div>
        <div class="photo-02">写真2</div>
        <div class="photo-03">写真3</div>
        <div class="photo-04">写真4</div>
        <div class="photo-05">写真5</div>
      </div>
    </div>
  </div>
  <!-- wrapperエリアここまで -->
  <%- include('common/_footer') %>