<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レスポンシブナビゲーションバー</title>
    <link rel="stylesheet" href="utilityStyle.css">
</head>
<body>
    <div class="navigation-header-container">
        <nav>
            <div class="logo">
                <h4>ナビーションバー</h4>
            </div>
            <ul>
                <li><a href="#">ホーム</a></li>
                <li><a href="#">本サイトについて</a></li>
                <li><a href="#">ブログ</a></li>
                <li><a href="#">オンライン相談</a></li>
            </ul>
        </nav>
    </div>
    <script src="utility.js"></script>
</body>
</html>