<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/profile.css">
  <link rel="stylesheet" href="../public/stylesheets/chat_app.css">
  <title>title未定</title>
  <meta name="description" content="サイトの説明文">
</head>
<body>
  <!-- startヘッダー -->
  <header class="header_01">
    <div class="header-container">
      <!-- ロゴエリア -->
      <div class="area_logo_header">
        <a class="logo" href="/">
          <img src="../public/images/cmn/img/logo/header_logo.png" alt="">
        </a>
      </div>
      <!-- ナビゲーションエリア -->
      <nav class="area_nav_header">
        <ul class="list_nav_header">
          <li>
            <a href="">作品紹介</a>
          </li>
          <li>
            <a href="">学習の振り返り</a>
          </li>
          <li>
            <a href="">今後の目標</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-underline"></div>
  </header>